*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    border-top: 1vh solid #accbe8;
    border-bottom: 1vh solid #accbe8;
    border-left: 1vh solid #accbe8;
    border-right: 1vh solid #accbe8;
    border-radius: 20px;
    background-color: black;
}
button{
    margin-top: 1em;
    border: 2px solid black;
    border-radius: 5px;
    background-color: black;
    color: aliceblue;
}
button:hover{
    cursor: pointer;
}
input{
    border: 1px solid black;
    border-radius: 5px;
}
#hideOptionScreen{
    display: none;
}
#hideStockScreen{
    display: none;
}
.container{
    margin: auto;
    width: 98vw;
    height: 39vh;
    display: flex;
}
.stockHoldings{
    width: 50%;
    height: 100%;
    background-color: #813405;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #171738;
    border-radius: 20px;
    color: aliceblue;
}
.options{
    width: 50%;
    height: 100%;
    background-color: #8c86aa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #d4d6b9;
    border-radius: 20px;
}
.display{
    margin: auto;
    height: 59vh;
    width: 98vw;
    display: flex;
}
.stockDisplay{
    width: 50%;
    height: 100%;
    background-color: #171738;
    border: 2px solid #813405;
    border-radius: 20px;
    color: aliceblue;
    padding: 1em;
}
.optionsDisplay{
    width: 50%;
    height: 100%;
    background-color: #d4d6b9;
    border: 2px solid #8c86aa;
    border-radius: 20px;
    padding: 1em;
}